@import "tailwindcss";

@layer base{
  :root {
    --primary: #eb7159;
  }
}

@layer utilities{
  .bg-primary{
    background-color: var(--primary);
  }

  .hover-bg-primary:hover {
    background-color: #eb7159e4;
  }

  .text-primary{
    color: var(--primary);
  }

  .from-primary{
    --tw-gradient-from: var(--primary);
  }

  .to-primary{
    --tw-gradient-to: var(--primary);
  }

  .via-primary{
    --tw-gradient-via: var(--primary);
  }
}

